
doctype html
html
    head
    body
        h1 Welcome! Add yourself to our database!
        form(action='/send' method='POST')
          | Email:
          br
          input(type='text', name='email', value='')
          br
          | First Name:
          br
          input(type='text', name='firstName', value='')
          br
          | Last Name:
          br
          input(type='text', name='lastName', value='')
          br
          | City:
          br
          input(type='text', name='city', value='')
          br
          | Country:
          br
          input(type='text', name='country', value='')
          br
          input(type='submit', value='Submit')

